body {
    font-family: "Arial";
    background-color: #87CEEB;
    color:black; }

p{
    color: black;
   
}



nav ul li {
         float:left;
          margin: 0 15px;
	 color: black;
	background-color: #428ff4;}
 
 nav ul li: hover {
	 background-color: #111;
	
	
}



ul {
	color: black;
    	margin: 0px 10px;
	display: inline;
	
}


#footer{
	
	height:70px;
	text-align:center;
}

h1{
	font-family: cursive;
	border-style: dotted;
}


