body {
    font-family: "Arial";
    background-color: #87CEEB;
    color:black; 
}



p{
    color: black;
	background-color: light-blue;
}

nav
{
	color: black;
	
	
}



ul {
	color: black;
    	margin: 0px 10px;'
	display: inline;
	background-color: rgb(70,130,180);
}

