

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


body {
    font-family: 'Indie Flower', cursive;
    background-color: #FFE4B5;
    color:black; 
     }

p {
    color: black;
    font-family: 'Indie Flower', cursive;
    text-align:center;
  }

nav {
	background-color: #FFDAB9;
    }

nav ul li {
         float:middle;
         margin: 0 15px;
	 color: black;
	 font-family: 'Indie Flower', cursive;
         list-style-type: none;
	 padding: 0;
	 font-size: 40px;
	 display: inline;
	 text-align:center;
	
}
 

ul {
	color: black;
    	margin: 0px 10px;
	display: inline;
}


#footer{
	
	height:70px;
	text-align:center;
	font-family: 'Indie Flower', cursive;
}

h1{
	font-family: cursive;
	border-style: dotted;
}

img {
    	display: block;
    	margin: auto;
   	 width: 40%;
   	 height: 60%;
}
iframe {
	display: block;
  	margin: auto;
    	width: 40%;
    	height: 60%;
   	padding: 10%;
}	

h3{
	background-color: #FFDAB9;
}
h2
{
	text-align:center;
}

#education
{
	 text-align:center;
}

#accolades
{
	 text-align:center;
}
#work
{
	 text-align:center;
}
